<!DOCTYPE HTML>
<html>
 <head>
  <<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mark123 - FLASK CASINO</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
 </head>
 <body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">FLASK CASINO</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">ИГРАТЬ</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="registration">ЗАРЕГИСТРИРОВАТЬСЯ</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login">ВОЙТИ</a></li>
                </ul>
            </div>
        </div>
    </nav>
 <form name="test" method="post" action="input1.php">
     <p> </p>
     <p> </p>
     <p> </p>
     <p> </p>
     <p> </p>
     <p> </p>
  <p><b>Ваша ставка:</b><br>
   <input type="number" step="1" size="40" min="1">
  </p>
  <p><input type="submit" value="Поставить">
   <input type="reset" value="Очистить"></p>
 </form>

 </body>
</html>